body{
    background-color: #EDEDF5;
}

.btn{
    padding: 10px;
}

.btn-theme{
    background:rgb(127, 5, 138) ;
    color: aliceblue;
}

.btn-theme:hover{
    background:rgb(220, 74, 233) ;
    color: rgb(204, 212, 219);
}

/*-------auth-form-----*/
.auth_form{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    border: none;
}

.auth_form a{
    text-decoration: none;
    color: rgb(73, 12, 214);
}

.auth_form a:hover{
    color: rgb(230, 24, 151);
}


